.custom-btn {
  padding: 14px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  font-family: "Urbanist", sans-serif;
}

/* Primary Button */
.custom-btn.primary {
  background: #0057ff;
  color: white;
}

.custom-btn.primary:hover {
  background: #0041c4;
  transform: translateY(-3px);
}

/* Secondary Button */
.custom-btn.secondary {
  background: transparent;
  border: 2px solid #0057ff;
  color: #0057ff;
}

.custom-btn.secondary:hover {
  background: #0057ff;
  color: white;
}